.popup2{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
   

    transform: translate(-50%,-50%) scale(1.60);
    width: 40%;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0,0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup2.active{
    top: 90%;

    
    opacity: 1;
    transform: translate(-50%,-50%) scale(0.90);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup2 .close-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: rgb(223, 76, 76);
    color: #eee;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    line-height: 25px;
    border-radius: 15px;
    cursor: pointer;

}

.popup2 .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 30px;

}
.popup2 .form .form-element{
    margin: 15px 0px;
}

.popup2 .form .form-element label{
    font-size: 20px;
    color: black;
}

.popup2 .form .form-element input[type="date"],
.popup2 .form .form-element input[type="text"],
.popup2 .form .form-element input[type="email"],
.popup2 .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(87, 82, 82);
    border-radius: 5px;
    font-size: 20px;
    color: #222;

}
.popup2 .form .form-element textarea{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(87, 82, 82);
    border-radius: 5px;
    font-size: 20px;
}

.popup2 .form .form-element input[type="radio"]{
    display: inline-block;
    border: 1px solid rgb(87, 82, 82);
   
    font-size: 20px;
}
.popup2 .form .form-element input[type="checkbox"]{
    margin-right: 5px;
    border: 1px solid rgb(87, 82, 82);
    font-size: 20px;

}
.popup2 .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    /* background: #222; */
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    
}
.popup2 .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

.bt1{
    background-color: green;
    
}

.bt2{
    background-color: rgb(228, 134, 11);
    
}

.bt3{
    background-color: rgb(128, 0, 0);
    
}
.bt4{
    background-color: rgb(68, 207, 49);
    width: 50%;
    margin-left: 50px;
}

.bt5{
    background-color: rgb(179, 230, 223);
    
    margin-left: 50px;
    text-align: center !important;

}

.bt4.bt5{
    text-align: center;
}
.imag img{
    width: 200px;
    height: 152px;
    border-radius: 15px;
    
}

.imag{
    text-align: center;
    display: inline-flex;
    
}

.bt1.bt2.bt3.bt4.bt5:hover{
    background-color: #1a79ca;
}
.bt1.bt2.bt3.bt4.bt5{
    margin-left: 20px;
}
.bt6{
    display: inline-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    
}